.card {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    gap: 10px;
    text-align: center;
}

.image {
    max-width: 400px;
}

.cardType {
    font-size: 0.875rem;
}

.cardTitle {
    max-width: 370px;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .image {
        width: 370px;
    }
}
